# Ignore Terraform state/plan files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore lock files
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Ignore .terraform directory
.terraform/

# Ignore any files containing sensitive information
*.tfvars

# Ignore Crash log files
crash.log

# Ignore Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config files
.terraformrc
terraform.rc